<div>
    <img src="" alt="">
    <h2 class="country-name"> {{name}} </h2>
      <ul class="country-properties">
        <li class="">Capital: {{name}}</li>
        <li class="">Population: {{name}}</li>
        <li class="">Languages: {{name}}</li>
      </ul>
</div>    